services:
    seuranta:
        container_name: seuranta
        restart: always
        build: .
        depends_on:
            alembic-upgrade:
                condition: service_completed_successfully
            db:
                condition: service_healthy
                restart: true
        ports:
            - "8000:8000"
        environment:
            POSTGRES_USER: ${PG_USERNAME:-seuranta}
            POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd
            POSTGRES_DB: ${PG_DATABASE:-seuranta}
            KATTILA_API_URL: ${KATTILA_API_URL}
        secrets:
            - apikey
            - postgres-passwd
        develop:
            watch:
                - action: rebuild
                  path: src
                - action: rebuild
                  path: requirements.txt
                - action: rebuild
                  path: templates
                - action: rebuild
                  path: static

    alembic-upgrade:
        container_name: alembic-upgrade
        build:
            dockerfile: alembic-upgrade.Dockerfile
        environment:
            POSTGRES_USER: ${PG_USERNAME:-seuranta}
            POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd
            POSTGRES_DB: ${PG_DATABASE:-seuranta}
        secrets:
            - postgres-passwd
        volumes:
            - ./${PERSISTENT_DATA_DIR:-data}:/var/lib/postgresql
        develop:
            watch:
                - action: rebuild
                  path: src

    db:
        image: postgres
        container_name: seuranta-db
        restart: always
        environment:
            POSTGRES_USER: ${PG_USERNAME:-seuranta}
            POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd
            POSTGRES_DB: ${PG_DATABASE:-seuranta}
        secrets:
            - postgres-passwd
        volumes:
            - ./${PERSISTENT_DATA_DIR:-data}:/var/lib/postgresql
        ports:
            - 5432:5432
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
            interval: 10s
            retries: 5
            start_period: 30s
            timeout: 10s

secrets:
    apikey:
        file: "apikey.txt"
    postgres-passwd:
        file: "postgres-passwd.txt"
