fastapi[standard]
pytest
pytest-asyncio
pytest-trio
anyio
aiosqlite
jinja2
apscheduler
aiohttp
aiofiles
pyyaml
httpx
SQLAlchemy
sqlalchemy-utils
pydantic
alembic
asyncpg
psycopg2-binary
get-docker-secret
