{% extends "base.html" %}

{% block content %}
{% if tracked_entity %}
    <h1>Hei {{ tracked_entity.name }}!</h1>
    <p>{{ tracked_entity.created_datetime }}</p>
    <p>{{ tracked_entity.id }}</p>
    <ul>
    {% for device in tracked_entity.devices %}
        <li>{{ device.mac_addr }}</li>
    {% endfor %}
    </ul>
    <p>Voit vaihtaa nimesi samalla lomakkeella, millä loit seurantaan nimesi: <a href="{{ url_for('serve_name_form') }}">{{ url_for('serve_name_form') }}</a></p>
{% else %}
    <h1>Hei!</h1>
    <p>Liitä päätelaitteesi seurantaan seuraavalla lomakkeella: <a href="{{ url_for('serve_name_form') }}">{{ url_for('serve_name_form') }}</a></p>
    {% if present_names %}
        <ul>
        {% for name in present_names %}
            <li>{{ name }}</li>
        {% else %}
            <li>ei ketään :'c</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock content %}
