{% extends "base.html" %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const name = document.getElementById("username");
        const submit = document.getElementById("submit-name-form");

        name.addEventListener("input", (event) => {
            submit.disabled = !(name.validity.valid)
        });
    });
</script>
{% endblock scripts %}

{% block content %}
<form action="/name-form" method="post">
    <label for="username">{% if tracked_entity %}Vaihda{% else %}Valitse{% endif %} nimimerkki:</label>
    <input required type="text" id="username" name="username" placeholder="esim. kattilakissa" maxlength="{{ name_maxlength }}" pattern="[a-zA-Z0-9]{2,{{ name_maxlength }}}"/>
    <button type="submit" id="submit-name-form" name="submit-name-form">{% if tracked_entity %}Vaihda{% else %}Valitse{% endif %} nimimerkki</button>
</form>
{% endblock content %}